{% extends 'base.html' %} {% block content %}

<div class="hero">
  <h1 class="text-center text-success pt-5">인공지능 도서추천사 똑똑</h1>
  <h2 class="text-center text-dark pb-5">
    지금 마음상태에 도움될 도서를 추천해드릴께요!
  </h2>
  <h3 class="text-center text-dark pb-5">마음상태가 어떠신가요?</h3>
</div>

<!-- 검색 입력폼과 버튼 생성하기 start -->
<!-- 아래 컬러버튼 값을 가져오도록 하는 입력칸 -->
<div class="hero container mt-6">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <form method="post" action="{{ url_for('search.search_result') }}">
        {{ form.hidden_tag() }} {% include "form_errors.html" %}
        <div class="form-group row justify-content-center">
          <div class="col-md-9">
            <input
              id="search-input"
              class="form-control mr-sm-2 text-center h-30"
              type="search"
              placeholder="갑정을 표현해주세요! (예: Suffering, Happy)"
              aria-label="Search"
              name="keyword"
            />
          </div>
          <div class="col-md-3">
            <button
              type="submit"
              class="btn btn-primary"
              onclick="saveSearchKeyword()"
            >
              입력하기
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- 검색 입력폼과 버튼 생성하기 end -->

<!-- 감정단어 버튼 클라우드 start -->
<div class="hero text-center text-dark">
  <p class="text-gray">⬍</p>
  <p>아래 색색의 "감정단어" 버튼을 누르시면,<br/>검색창에 자동으로 입력됩니다.</p>
</div>

<!-- 버튼들을 출력할 영역 start -->
<div class="container" style="width: 80%; margin: 0 auto;">
  <div class="text-center"></div>
  <div id="button-container-test2" class="text-center">
    {% for emotion, sub_emotions in color_ranges.items() %} {% for sub_emotion,
    color_range in sub_emotions.items() %} {% set colors =
    color_range.split(":") %}
    <button
      type="button"
      class="btn btn-primary"
      style="background-color: {{ colors[0] }};"
      onclick="document.getElementById('search-input').value = '{{ sub_emotion }}';"
    >
      {{ sub_emotion }}
    </button>
    {% endfor %} {% endfor %}
  </div>
</div>
<!-- 버튼들을 출력할 영역 end -->
<!-- 감정단어 버튼 클라우드 end -->

<!-- 똑똑숲지기 start -->
<div class="container mt-5" style="width: 80%">
  <div class="row text-center">
    <div class="col-md-4 mb-3">
      <div class="card h-60">
        <a href="https://ebooktree.oopy.io" target="_blanck">
          <img src="./img/3Dprofile_hm.jpg" class="card-img-top" alt="나무영" />
        </a>
        <div class="card-body">
          <h5 class="card-title">나무영</h5>
          <h6 class="card-subtitle mb-2 text-muted">
            (주)독립출판식목일 디발자
          </h6>
          <p class="card-text">
            오늘도 성경과 전자책 무료나눔을 고민하는 소셜벤처러 입니다.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="card h-60">
        <a href="https://github.com/shechren" target="_blanck">
          <img src="./img/3Dprofile_jh.jpg" class="card-img-top" alt="임준혁" />
        </a>
        <div class="card-body">
          <h5 class="card-title">임준혁</h5>
          <h6 class="card-subtitle mb-2 text-muted">
            뚝딱뚝딱 작곡하는 개발러
          </h6>
          <p class="card-text">
            소외된 친구들을 위한 프로그래밍 교육자가 되기를 희망합니다.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="card h-60">
        <a href="https://github.com/lakP44" target="_blanck">
          <img
            src="./img/3Dprofile_lak.jpg"
            class="card-img-top"
            alt="김락형"
          />
        </a>
        <div class="card-body">
          <h5 class="card-title">김락형</h5>
          <h6 class="card-subtitle mb-2 text-muted">
            조곤조곤 코딩하는 개발러
          </h6>
          <p class="card-text">
            AI를 넘어선 fullstack개발자를 꿈꾸고 있습니다.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 똑똑숲지기 end -->
{% endblock %}
