<hr/>
<footer class="footer">
  <div class="container">
    <div class="row">
      <h6>
        우리 주 하나님과 그의 아들 구세주 예수 그리스도께 모든 영광 돌립니다.
      </h6>
      <ul class="list-unstyled">
        <li>주식회사 독립출판식목일 _ since 2022.09.14</li>
        <li>대표자명: 김해민</li>
        <li></li>
        <li>사업자등록번호: 724-87-02328</li>
        <li>출판업신고: 제 25100-2023-000010호</li>
        <li>통신판매업신고: 제 2023-서울구로-0268호</li>
        <li></li>
        <li>
          서울시 구로구 디지털로27길 24, 801호 801-67실 (구로동,
          벽산디지털벨리1차) (우: 08381)
        </li>
        <li>문의: arborsday@gmail.com</li>
        <li></li>
        <li>개인정보처리방침</li>
      </ul>
    </div>
  </div>
  <div>
    <a href="#" class="scroll-to-top">
      <i class="fas fa-chevron-up">test</i>
    </a>
  </div>
</footer>
